form#booking-form {
  display: grid;
  max-width: 500px;
  gap: 20px;
  grid-column: 3 / span 8;
  justify-self: center;
}


.form-box {
  display: flex;
  flex-direction: column;
}

form#booking-form input {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  color: var(--little-lemon-primary-color-1);
  background-color: var(--little-lemon-highlight-color-1);
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: auto;
}

form#booking-form select {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--little-lemon-primary-color-1);
  background-color: var(--little-lemon-highlight-color-1);
  border: none;
  border-radius: 8px;
  padding: 15px;
}

form#booking-form input:focus:invalid {
  border: 2px solid red;
}


