:root {
  --little-lemon-primary-color-1:#495E57;
  --little-lemon-primary-color-2:#F4CE14;
  --little-lemon-secondary-color-1:#EE9972;
  --little-lemon-secondary-color-2:#FBDABB;
  --little-lemon-highlight-color-1:#EDEFEE;
  --little-lemon-highlight-color-2:#333333;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Karla", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: "Markazi Text", serif;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Karla", serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Karla", serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: "Karla", serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}


h6 {
  font-family: "Karla", serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}


p {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

a {
  font-size: 1rem;
  color: var(--little-lemon-highlight-color-2);
  text-decoration: none   ;
}

.lead-text {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}


#root {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

img {
  border-radius: 16px;
}

button {
  background-color: var(--little-lemon-primary-color-2);
  color: var(--little-lemon-highlight-color-2);
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--little-lemon-highlight-color-2);
  color: var(--little-lemon-primary-color-2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap:24px;
  padding-left: 64px;
  padding-right: 64px;
}


@media only screen and (max-width: 1300px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:16px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (max-width: 960px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:8px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

