header {
  height: 80px;
  align-items: center;
}

header div#site-logo {
  grid-column: 3 / span 2;
}

header nav {
  display: flex;
  list-style: none;
  grid-column: span 6;
  justify-self: flex-end;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 0;
}

header a {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--little-lemon-highlight-color-2);
  text-decoration: none;
}
